<launch>
    <!--options: mono, rgbd or inertial  -->
    <arg name="mode" default="rgbd"/>

    <?ignore
    <!-- Run camera driver -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="color_fps" value="30"/>

        <arg name="depth_width" value="1280"/>
        <arg name="depth_height" value="720"/>
        <arg name="depth_fps" value="30"/>

        <arg name="enable_sync" value="true"/>
        <arg name="align_depth" value="true"/>
    </include>
    ?>

    <!-- Launch ORB_SLAM3 -->
    <include file="$(find orb_slam3_ros_wrapper)/launch/orb_slam3.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="rgb_topic" value="/camera/color/image_raw" />
        <arg name="depth_topic" value="/camera/depth/image_rect_raw" />
        <arg name="imu_topic" value="/camera/imu" />
        <arg name="config_file" value="$(find orb_slam3_ros_wrapper)/config/RealSense_D435i.yaml" />
        <arg name="camera_base_frame" value="camera_link" />
    </include>
</launch>
